# Bash completion configuration.
# Display all possible matches for an ambiguous pattern at first tab
set show-all-if-ambiguous on
# Next tab(s) will cycle through matches
TAB: menu-complete
# Shift tab cycles backward
"\e[Z": menu-complete-backward
